.kiosk-bg {
    width: 100%;
    height: 100%;
    background-color: #222;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.kiosk-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.kiosk-bg .box {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.807);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: #ffffff;
    border: 1px solid #ffffff86;
}

.kiosk-bg .box-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    max-width: 80%;
    margin-bottom: 10px;
}

.kiosk-bg .box-description {
    font-size: 22px;
    line-height: 1.5;
    max-width: 100%;
}

.kiosk-bg .tech-highlight {
    color: #4CAF50;
    font-weight: 600;
    background-color: rgba(76, 175, 80, 0.15);
    padding: 2px 6px;
    border-radius: 4px;
}