.bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 20px;
    color: #eee;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.circle1 {
    top: 0;
    position: absolute;
    left: 0;
    width: 300px;
    height: 300px;
    transform: translate(-30%, -50%);
    object-fit: cover;
    opacity: 0.6;
}

.circle2 {
    top: 30%;
    position: absolute;
    left: 20%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    opacity: 0.4;
}

.bg span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    z-index: 1;
    margin-bottom: 3px;
    position: relative;
}

.bg h1 {
    font-size: 34px;
    font-weight: 700;
    color: #eee;
    letter-spacing: 2px;
    margin-bottom: 3px;
    z-index: 1;
    position: relative;
}

.bg h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
}

.bg p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    max-width: 320px;
    font-weight: 300;
    z-index: 1;
    position: relative;
}